.cardsContainer{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.dragAndDropSection{
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin: 40px;
}

.headerCards{
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    margin: 40px;
}
