.header {
    margin: 40px;
    padding: 15px;
}
.tableContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.pagination {
    width: 100%;
    height: auto;
}

